
#header {
  padding: 2.5% 5% 2.5% 1%;
  background-color: blue;
}

body {
  background: rgba(200, 200, 200);
}

.navbar {
  width: 20%;
  padding: 2.5% 5% 2.5% 5%;
  background-color: blue;
  color: white;
}

.navbar:hover {
  background-color: violet;
}
